In [1]:
import pandas as pd
import numpy as np
import xgboost as xgb
import matplotlib
import seaborn as sns
import csv
import re 
from matplotlib import pyplot as plt
from sklearn import ensemble, cross_validation, learning_curve, metrics , tree, naive_bayes, utils
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.datasets import load_digits, load_breast_cancer, load_iris
from sklearn.cross_validation import cross_val_score, KFold, LeaveOneOut, ShuffleSplit, StratifiedKFold
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor, BaggingClassifier, BaggingRegressor
from sklearn.cluster import KMeans, DBSCAN, MiniBatchKMeans, AgglomerativeClustering, FeatureAgglomeration
matplotlib.style.use('ggplot')
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv('titanic.csv')

In [3]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [72]:
needed_features = ['Pclass', 'Fare', 'Age', 'Sex', 'Survived']
need_df = df[needed_features]

In [76]:
df_without_nan = need_df.dropna(axis=0)
y = df_without_nan['Survived'].values
sex = df_without_nan['Sex'].values
sex_dict = {'male': 0, 'female': 1}
sex_int = np.array(list(map(lambda sex: sex_dict[sex], sex)))
df_without_nan_and_sex = df_without_nan.drop(labels=['Sex', 'Survived'], axis=1)
X_without_sex = df_without_nan_and_sex.values
X = np.column_stack((X_without_sex, sex_int))

In [77]:
clf = DecisionTreeClassifier(random_state=241)

In [78]:
%%time
clf.fit(X, y)

CPU times: user 2.12 ms, sys: 1.53 ms, total: 3.65 ms
Wall time: 3.9 ms

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=241, splitter='best')

In [83]:
name_importances = ['Pclass', 'Fare', 'Age', 'Sex']
importances = list(zip(clf.feature_importances_, name_importances))

In [93]:
print(sorted(importances, key=lambda x: x[0], reverse=True)[0:2])

[(0.30051221095823932, 'Sex'), (0.29538467840657462, 'Fare')]